<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="css/base.css" />
    <title>School</title>
  </head>
  <body>
    <div style="padding-top:20px;margin-top:30px;height:1500px;">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user">User</a></li>
      <li><a href="/problem">Problem</a></li>
      <li><a href="/challenge">Challenge</a></li>
      <li><a class="active" href="/message">Message</a></li>
      <li style="float: right"><a href="/logout">Logout</a></li>
    </ul>
    <h1>List of messages</h1>
    {data}
  </body>
</html>
