<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/base.css" />
    <title>School</title>
  </head>
  <body>
    <div style="padding-top:20px;margin-top:30px;height:1500px;">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/user">User</a></li>
      <li><a href="/problem">Problem</a></li>
      <li><a href="/challenge">Challenge</a></li>
      <li><a href="/message">Message</a></li>
      <li style="float: right"><a href="/logout">Logout</a></li>
    </ul>
    {title}
    <hr />
    {show-info}
    {message-table}
    {add-update-form}
    {error}
  </body>
</html>
